* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F2F7FE;
    
}

body {
    background-color: #d5d9dd;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 0.5px rgba(0, 0, 0, 0.39);

}

.titulo {
    height: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

h1 {
    height: 50%;
    margin: 0 auto;
}

#value {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 45px;
    font-size: 50px;
}

.button-container {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    border: none;
    margin-top: 45px;
}



